# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
.apiinfo

.direnv/
node_modules/
dist/
/data/*
!.gitkeep
.env
*.tsbuildinfo
.DS_Store
